<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up - Bio Code</title>
</head>
<body>
    <form action="/user/signedup" method="post">
        <input type="text" name="username" id="username" placeholder="Username" required>
        <input type="text" name="password" id="password" placeholder="Password" required>
        <button type="submit">Submit now!</button>
    </form>
    <p><%= data.message %></p> 
</body>
</html>